# macOS
.DS_Store

# Firebase
.firebase/
*-debug.log

# Binarios grandes (se generan desde proxi_app)
Proxi-Faro.apk
public/proxi-faro.bin

# Flutter / Dart
proxi_app/build/
proxi_app/.dart_tool/
proxi_app/.flutter-plugins
proxi_app/.flutter-plugins-dependencies
proxi_app/.packages
*.iml
proxi_app/android/local.properties
proxi_app/android/.gradle/
proxi_app/android/key.properties
proxi_app/ios/Pods/
proxi_app/ios/.symlinks/
proxi_app/ios/Flutter/ephemeral/
